<ul>
  <li><a href="/standards/hosting.html">How to host a service</a></li>
  <li><a href="/standards/dns-hosting.html">How to manage DNS records for your service</a></li>
  <li><a href="/standards/configuration-management.html">Use configuration management</a></li>
  <li><a href="/standards/operating-systems.html">Operating systems for virtual machines</a></li>
  <li><a href="/standards/web-application-firewall.html">Use a web application firewall (WAF)</a></li>
  <li><a href="/manuals/security-overview-for-websites.html">Security overview for websites</a></li>
  <li><a href="/manuals/aws-tagging.html">Tagging AWS resources</a></li>
  <li><a href="/manuals/working-with-aws-accounts.html">Working with AWS accounts</a></li>
</ul>
