<ul>
  <li><a href="/standards/principle-least-access.html">Principle of least privilege</a></li>
  <li><a href="/standards/secrets-ACL.html">Tracking access control</a></li>
  <li><a href="/standards/secrets-auditing.html">Secret auditing</a></li>
  <li><a href="/standards/pre-commit-hooks.html">Git pre-commit</a></li>
</ul>
