<ul>
  <li><a href="/gds-way/standards/logging.html">Store and query logs</a></li>
  <li><a href="/gds-way/standards/monitoring.html">How to monitor your service</a></li>
  <li><a href="/gds-way/standards/alerting.html">How to manage alerts</a></li>
  <li><a href="/gds-way/standards/slo.html">Make data-driven decisions with Service Level Objectives (SLOs)</a></li>
  <li><a href="/gds-way/standards/slis.html">Run a Service Level Indicator (SLI) workshop</a></li>
</ul>
