<ul>
  <li><a href="/standards/source-code/index.html">How to store source code</a></li>
  <li><a href="/standards/pull-requests.html">Using Pull Requests</a></li>
  <li><a href="/manuals/readme-guidance.html">Writing READMEs</a></li>
  <li><a href="/manuals/release-notes.html">Writing release notes</a></li>
  <li><a href="/manuals/licensing.html">Licensing</a></li>
  <li><a href="/standards/continuous-delivery.html">Use continuous delivery</a></li>
</ul>
