<ul>
  <li><a href="/gds-way/standards/hosting.html">How to host a service</a></li>
  <li><a href="/gds-way/standards/dns-hosting.html">How to manage DNS records for your service</a></li>
  <li><a href="/gds-way/standards/configuration-management.html">Use configuration management</a></li>
  <li><a href="/gds-way/standards/operating-systems.html">Operating systems for virtual machines</a></li>
  <li><a href="/gds-way/standards/web-application-firewall.html">Use a web application firewall (WAF)</a></li>
  <li><a href="/gds-way/manuals/security-overview-for-websites.html">Security overview for websites</a></li>
  <li><a href="/gds-way/manuals/aws-tagging.html">Tagging AWS resources</a></li>
</ul>
