<ul>
  <li><a href="/standards/understanding-risks.html">Understand the risks to your service</a></li>
  <li><a href="/standards/technical-debt.html">How to track technical debt</a></li>
  <li><a href="/standards/accounts-with-third-parties.html">How to manage access to your third-party service accounts</a></li>
  <li><a href="/standards/storing-credentials.html">How to store credentials</a></li>
  <li><a href="/standards/how-to-do-penetration-tests.html">How to do penetration testing</a></li>
  <li><a href="/standards/performance-testing.html">Performance testing</a></li>
  <li><a href="/standards/sending-email.html">How to send email notifications</a></li>
  <li><a href="/standards/user-support.html">How GDS provides user support</a></li>
  <li><a href="/standards/incident-management.html">Incident management</a></li>
  <li><a href="/standards/disaster-recovery.html">Disaster Recovery</a></li>
  <li><a href="/standards/principle-least-access.html">Principle of least privilege</a></li>
  <li><a href="/standards/secrets-acl.html">Tracking access control</a></li>
  <li><a href="/standards/secrets-auditing.html">Secret auditing</a></li>
  <li><a href="/standards/vulnerability-disclosure.html">Vulnerability disclosure and security.txt</a></li>
</ul>
