<ul>
  <li><a href="/standards/naming-software-products.html">How to name software products</a></li>
  <li><a href="/standards/programming-languages.html">Choosing a programming language</a></li>
  <li><a href="/manuals/programming-languages.html">Style guides</a></li>
  <li><a href="/standards/tracking-dependencies.html">How to manage third party software dependencies</a></li>
  <li><a href="/manuals/accessibility.html">Building accessible services</a></li>
  <li><a href="/standards/pair-programming.html">Pair programming</a></li>
  <li><a href="/standards/breaking-down-work.html">Breaking down work</a></li>
  <li><a href="/manuals/browser-support.html">Supporting different browsers</a></li>
  <li><a href="/standards/optimise-frontend-perf.html">How to optimise frontend performance</a></li>
  <li><a href="/standards/architecture-decisions.html">Documenting architecture decisions</a></li>
  <li><a href="/standards/threat-modelling.html">Anticipate security issues using threat modelling</a></li>
</ul>
