---
title: Monitor your service
expires: 2018-03-01
---

# <%= current_page.data.title %>

<%= partial :expires %>

At GDS, we follow the principles set out in the Service Manual for [monitoring the status of services](https://www.gov.uk/service-manual/technology/monitoring-the-status-of-your-service) and for [setting performance metrics](https://www.gov.uk/service-manual/measuring-success/how-to-set-performance-metrics-for-your-service).

As part of your monitoring and alerting strategy we recommend you:

* use [Pingdom](https://www.pingdom.com/) to monitor an EU or US-based service
* use [CA App Synthetic Monitor](https://asm.ca.com/en/) to monitor a service from outside the EU or US
* run regular [smoke tests](https://www.gov.uk/service-manual/technology/deploying-software-regularly#using-smoke-tests-after-you-deploy) using a browser automation app such as [Selenium](http://www.seleniumhq.org/)
* implement a tool to ensure user journeys are working as expected
* monitor applications for errors using an error tracking app such as [Sentry](https://sentry.io/welcome/)
* implement configuration management to set up reproducible monitoring

Collecting metrics is useful for [capacity planning](https://www.gov.uk/service-manual/technology/test-your-services-performance#start-with-capacity-planning) and autoscaling, you should:

* apply metrics-based monitoring as it's compatible with virtual machines, PaaS and containers
* create metrics dashboards to view infrastructure and application metrics using [Grafana](http://grafana.org/)

Reliability Engineering is running an Alpha on using [Prometheus](https://prometheus.io/) as our operational metrics service for GDS, it will be available to all teams using the [recommended hosting](https://gds-way.cloudapps.digital/standards/hosting.html#content) options. Please <a href="mailto:the-gds-way@digital.cabinet-office.gov.uk?subject=feedback">contact us</a> to find out more.
