---
title: Securing services
expires: 2017-10-01
---

# <%= current_page.data.title %>

<%= partial :expires %>

At GDS we are committed to iterating our security initiatives and are determined to make them an exemplary and active standard.

## Our core security teams are:

* Security Operations - Monitoring and analysis
* Security Engineering - Proactive defence
* Security Architecture - Cross-government cooperation

## We are currently working on:

* threat intelligence - working within the industry and intelligence community to constantly collect and process intelligence in order to develop an accurate threat profile, this includes open source collection
* training - cross-organisation security training (incident response/handling)
* consultation - cross-government advice on custom solution implementation and standard adoption
* machine learning - analysing security events and incorporating the collected threat intelligence to appropriately determine the classification of an event

We are integrating these projects within PaaS to continuously improve the platform and are developing security controls based on our findings.
