---
title: Supporting services
expires: 2017-10-01
---

# <%= current_page.data.title %>

<%= partial :expires %>

The vision for support operations at GDS is to build a high quality, robust, resilient and consistent approach that is an exemplar for running digital services at scale.

One important element is the development of the GDS incident management framework which focuses on restoring normal operations as quickly as possible with the least possible impact on users, and in the most cost-effective way.

Our processes are designed to minimise recovery time for our services and enable iterative improvements by regular post-incident reviews. Each programme within GDS will define specific priority levels associated with the potential failure points for applications underlying their services.

Examples of events that would be included within the incident management framework range from login or system access issues, to service unavailability and other technical failures that may negatively impact the reputation of GDS.
