/**
 * Page Banner Component
 *
 * Example Usage:
 *
 * <div class="page-banner">
 *   Lorem ipsum dolor est
 * </div>
 */

.page-banner {
  padding: 10px 0 8px;
  margin-top: 15px;

  @include media(tablet) {
    padding-bottom: 10px;
  }

  border-bottom: 1px solid $border-colour;

  p {
    margin: 0;
    color: $banner-text-colour;
    @include core-16;
  }
}
