name: Build and test

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      upload-artifact:
        default: false
        required: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0 # Fetch entire history, because the check_links.rb script relies on it

    - name: Set up Ruby
      uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # 1.267.0
      with:
        bundler-cache: true

    - name: Set up Node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: '12'

    - name: Build
      run: bundle exec middleman build

    - name: Check external links
      if: ${{ github.ref != 'refs/heads/main' && vars.RUN_LINK_CHECK == 'true' }}
      run: bundle exec ruby check_links.rb

    # Share data between the build and deploy jobs so we don't need to run `npm run build` again on deploy
    # Upload the deploy folder as an artifact so it can be downloaded and used in the deploy job
    - name: Upload artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4.1.3
      if: ${{ inputs.upload-artifact }}
      with:
          name: build
          path: build/**
          retention-days: 1
